<div class="about" id="aboutPart">
    <div class="about-content">
        <div class="us-grid">
            <div class="container">
                <div class="row us-row">
                    <div class="col-md-6 col-sm-6 about-col about-col-extra">
                        <div class="about-image"></div><!-- end about-image  -->
                    </div><!-- end col-md-6  -->
                    <div class="col-md-6 col-sm-6 about-col">
                        <div class="table-cell">
                            <div class="about-details wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <h3 class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">Our History</h3>
                                <div class="underline about-underline"></div>
                                <p class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <a href="#Home">Buy Template</a>
                            </div><!-- end about-details  -->
                        </div><!-- end table-cell  -->
                    </div><!-- end col-md-6  -->
                </div><!-- end row  -->
            </div><!-- end container  -->
        </div><!-- end me-grid  -->
    </div><!-- end about-content  -->
</div>
