<div class="orders">
<div class="container">
  <a [routerLink]="['/create-order']" class="btn btn-lg btn-primary">Create new Order</a>
</div>
<div class="container">
  <h1>Your latest Order</h1>

  <div class="row">
    <div class="pricing-table pricing-table-latest clear">
      <div class="plan most-popular">
        <h3><span class="card-title">Annapurna</span>
          <span class="order-date">29th Aug 2018</span>
        </h3>
        <li>
          <a [routerLink]="['/order-detail', latestOrder.orderId]" class="btn btn-lg btn-success">Order Details</a>
        </li>
  <button type="button" class="btn btn-default btn-circle btn-xl"><span class="items"><span class="items-count">10</span><br>items</span></button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h1>Your Past Orders</h1>

  <div class="row">
    <div class="pricing-table clear" *ngFor="let order of orders">
      <div class="plan most-popular">
        <h3><span class="card-title">Annapurna</span>
          <span class="order-date">29th Aug 2018</span>
        </h3>
        <li>
          <a [routerLink]="['/order-detail', order.orderId]" class="btn btn-lg btn-success">Order Details</a>
        </li>
  <button type="button" class="btn btn-default btn-circle btn-xl"><span class="items"><span class="items-count">10</span><br>items</span></button>
      </div>
    </div>

  </div>
  </div>

</div>