.container {
  display: flow-root;
}

h1 {
  padding: 30px;
  color: #fff;
  font-family: cursive;
}

  .pricing-table {
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
  }

  .pricing-table-latest {
    margin: auto 10%;
    text-align: center;
    padding-bottom: 30px;
  
  }
  
  .pricing-table .plan {
    font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
    text-shadow: 0 1px rgba(256, 255, 255, .8);
    border: 1px solid #ddd;
    color: #333;
    padding: 20px;
    width: 300px;
    box-shadow: 0 10px 40px 0 rgba(255, 255, 255, 0.5), 20px -9px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  
  
  /* --------------- */
  
  .pricing-table h3 {
    font-size: 20px;
    font-weight: normal;
    padding: 20px;
    margin: -20px -20px 50px -20px;
    background-color: #eee;
    background-image: -moz-linear-gradient(#fff, #eee);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(#fff, #eee);
    background-image: -o-linear-gradient(#fff, #eee);
    background-image: -ms-linear-gradient(#fff, #eee);
    background-image: linear-gradient(#fff, #eee);
  }
  

  .pricing-table .plan:nth-child(1) h3 {
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
    background: #e94040;
  }
  

  .card-title {
    font-size: 50px;
    color: #fff;
  }
  
  .order-date {
    display: block;
    font: 40px/100px cursive;
    background: #2c2003;
    border: 1px solid rgba(237, 246, 255, 0.5);
    height: 100px;
    width: 350px;
    margin: 25px -50px -65px;
    color: #f8e6e6;
  }
  
  .pricing-table li {
    padding: 40px 0;
    list-style: none;
  }
  
  .orders {
    background: #272424
  }

  .btn-circle.btn-xl {
    width: 150px;
    height: 150px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 50%;
    margin-top: 20px;
    background: #e94040;
    color: #fff;
  }


  .items-count {
    font-size: 60px;
    font-family: cursive;
  }