<div class="service">
  <div class="service-parallex">
      <div class="service-grid text-center">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="service-title text-center wow fadeIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                          <h3>Our Service</h3>
                          <div class="underline"></div>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                      </div><!-- end service-title  -->
                  </div><!-- end col-md-12  -->
              </div><!-- end row  -->
              <div class="row about-row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                  <div class="col-md-6 col-sm-6">
                      <div class="service-details">
                          <div class="media">
                              <div class="media-left service-media-left-1">
                              </div><!-- end media-left  -->
                              <div class="media-body text-left service-media-body">
                                  <h3>Amazing Set Up</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                              </div><!-- end media-body  -->
                          </div><!-- end media  -->
                      </div><!-- end service-details  -->
                  </div><!-- end col-md-4  -->
                  <div class="col-md-6 col-sm-6">
                      <div class="service-details">
                          <div class="media">
                              <div class="media-left service-media-left-2">
                              </div><!-- end media-left  -->
                              <div class="media-body text-left service-media-body">
                                  <h3>Amazing Food</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                              </div><!-- end media-body  -->
                          </div><!-- end media  -->
                      </div><!-- end service-details  -->
                  </div><!-- end col-md-4  -->
                  <div class="col-md-6 col-sm-6">
                      <div class="service-details">
                          <div class="media">
                              <div class="media-left service-media-left-3">
                              </div><!-- end media-left  -->
                              <div class="media-body text-left service-media-body">
                                  <h3>Amazing Music</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                              </div><!-- end media-body  -->
                          </div><!-- end media  -->
                      </div><!-- end service-details  -->
                  </div><!-- end col-md-4  -->
                  <div class="col-md-6 col-sm-6">
                      <div class="service-details">
                          <div class="media">
                              <div class="media-left service-media-left-4">
                              </div><!-- end media-left  -->
                              <div class="media-body text-left service-media-body">
                                  <h3>Amazing Service</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                              </div><!-- end media-body  -->
                          </div><!-- end media  -->
                      </div><!-- end service-details  -->
                  </div><!-- end col-md-4  -->
              </div><!-- end row  -->
          </div><!-- end container  -->
      </div><!-- end service-grid  -->
  </div><!-- end service-content  -->
</div>
