<!-- <div class="modal">
  <div class="modal-content">
    <div class="modal-header">
    <h2>Hey There! Welcome to Annapurna</h2>
    <a routerLink="/" class="close">&times;</a>
    </div>
    <div class="modal-body">
    </div>

    <div class="modal-footer">
      <button class="btn" routerLink="/">Cancel</button>
    </div>
  </div>

</div> -->

<!-- The Modal -->
<div class="modal">
  <div class="modal-content">
    <div class="d-flex flex-row">
      <img src="https://cdn.pixabay.com/photo/2018/01/28/11/24/nature-3113318_960_720.jpg" alt="">
      <div class="details">
        <h3>Item name</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <div class="container">
          <button class="btn" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>