.card {
    width: 18rem;
    margin-top: 5%;
    margin-right: 5%;
    cursor: pointer;
 }
 
 
 .card-group:first-child {
   margin-left: 5%;
 }

 .filterCategory {
  background-color: #4CAF50;
  border: none;
  font-size: 16px;
  color: white;
  padding: 20px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.cart {
  background-color: #4CAF50;
  border: none;
  font-size: 16px;
  color: white;
  padding: 20px;
  border-radius: 50%;
  position:fixed;
  bottom: 30px;
  margin-left: 90%;
}

.test {
  background-color: blueviolet;
}