.movements {
    display: flex;
    justify-content: space-between;
}

.confirm {
    display: flex;
    justify-content: flex-end;

}

.display-3 {
    color: #e94040;
    font-family: 'Courgette', cursive;
    letter-spacing: 3px;
    font-weight: 700;
    margin-top: 40px;
}

.item-underline {
    height: 3px;
    background-color: #fff;
    max-width: 40%;
    margin-bottom: 40px;
}

.create-order {
    background-color: #333;
}