@media(min-width: 991px) {
.nav-side {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 250px;
    background-color: cornflowerblue;
    box-sizing: border-box;
    padding: 20px;
    color: #fff;
    margin-left: -250px;
    transition: margin 5s ease-in-out;
    -webkit-transition: margin 5s ease-in-out;
  }
}

.nav-side-mobile {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 250px;
    background-color: cornflowerblue;
    box-sizing: border-box;
    padding: 20px;
    color: #fff;
    transition: margin 5s ease-in-out;
    -webkit-transition: margin 5s ease-in-out;
 /*   margin-left: -250px;*/
  }
  
  .nav-toggle {
    position: absolute;
    right: -40px;
    top:0;
    width: 40px;
    height: 40px;
    background-color: cornflowerblue;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    border-bottom-right-radius: 3px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, .1);
   
  }
  
  .test {
    margin-left: 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
  }
  
  .nav-toggle:before {
    content: "\2192";
    font-weight: 600;
    color: #fff;
  }

  .btn-danger {
      float: right;
  }

  .line {
      color: red;
      width: 200px;

  }