<div id="cheff">
    <div class="cheff-content">
        <div class="cheff-grid text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="cheff-title text-center wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <h3>Our cheff</h3>
                            <div class="underline"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </div><!-- end team-title  -->
                    </div><!-- end col-md-12  -->
                </div><!-- end row  -->
                <div class="row about-row text-center">
                    <div class="col-md-4 col-sm-4 cheff-col">
                        <div class="cheff-member wow fadeIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                            <img src="http://annapurna-foods.com/annapurna/html/img/cheff1.jpg" alt="" class="cheff-img">
                            <div class="cheff-details">
                                <h3>Natasha Cherry</h3>
                                <p>Head Cheff</p>
                                <div class="cheff-icon-grid">
                                    <div class="cheff-icon text-center">
                                        <ul class="cheff-social"> 
                                            <li><a href="www.facebook.com" target="newtab"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="www.twitter.com" target="newtab"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="www.pinterest.com" target="newtab"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                            <li><a href="www.instagram.com" target="newtab"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div><!-- end team-icon  -->
                                </div><!-- end team-icon-grid  -->
                            </div><!-- end team-details  -->
                        </div><!-- end team-member  -->
                    </div><!-- end col-md-4  -->
                    <div class="col-md-4 col-sm-4 cheff-col">
                        <div class="cheff-member wow fadeIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                            <img src="http://annapurna-foods.com/annapurna/html/img/cheff2.jpg" alt="" class="cheff-img">
                            <div class="cheff-details">
                                <h3>John Maklane</h3>
                                <p>Assistant Cheff</p>
                                <div class="cheff-icon-grid">
                                    <div class="cheff-icon text-center">
                                        <ul class="cheff-social"> 
                                            <li><a href="www.facebook.com" target="newtab"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="www.twitter.com" target="newtab"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="www.pinterest.com" target="newtab"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                            <li><a href="www.instagram.com" target="newtab"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div><!-- end team-icon  -->
                                </div><!-- end team-icon-grid  -->
                            </div><!-- end team-details  -->
                        </div><!-- end team-member  -->
                    </div><!-- end col-md-4  -->
                    <div class="col-md-4 col-sm-4 cheff-col">
                        <div class="cheff-member wow fadeIn" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                            <img src="http://annapurna-foods.com/annapurna/html/img/cheff3.jpg" alt="" class="cheff-img">
                            <div class="cheff-details">
                                <h3>Layla Mili</h3>
                                <p>Assistant Cheff</p>
                                <div class="cheff-icon-grid">
                                    <div class="cheff-icon text-center">
                                        <ul class="cheff-social"> 
                                            <li><a href="www.facebook.com" target="newtab"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                            <li><a href="www.twitter.com" target="newtab"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                            <li><a href="www.pinterest.com" target="newtab"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                            <li><a href="www.instagram.com" target="newtab"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        </ul>
                                    </div><!-- end team-icon  -->
                                </div><!-- end team-icon-grid  -->
                            </div><!-- end team-details  -->
                        </div><!-- end team-member  -->
                    </div><!-- end col-md-4  -->
                </div><!-- end row  -->
            </div><!-- end container  -->
        </div><!-- end row-grid  -->
        <div class="message text-center">
            <div id="message-parallex">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="message-client wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <h3>Want To Taste The Delicious Food ?</h3>
                                <p>Reserve Your Table And Let Us Serve You</p>
                                <a href="#contact">Reserve Table</a>
                            </div><!-- end message-client  -->
                        </div><!-- end col-md-12  -->
                    </div><!-- end row  -->
                </div><!-- end container  -->
            </div><!-- end message-parallex-->
        </div><!-- end work-counter  -->
    </div><!-- end team-content  -->
</div>
